name: List Open PRs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 1"

jobs:
  list-prs:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read

    steps:
      - name: List open pull requests
        run: gh pr list
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
